.partners_cover_img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.partners_image {
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
}

.link_clickable {
  color: green;
}
