<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Бизнес my life - Вход в административную панель</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  @include('partials/styles')
</head>
<body>

  @!section('body')

	@include('partials/scripts')
</body>
</html>
